@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;900&display=swap');

/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html{
    background: var(--c-light-gray);
    font-family: 'Mulish', sans-serif;
}
p{
    font-weight: 400;
    font-size: 1rem;
    color: var(--c-pharagraph);
}
a{
    font-size: 1rem;
    color: var(--c-white);
    text-decoration: none;
}
li{
    list-style: none;
}
.mt-100{
    margin-top: 100px;
}
.mt-70{
    margin-top: 70px;
}
.container{
    max-width: 1240px;
}
.primary-btn{
    background: var(--c-lighten-pink);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px 16px;
    transition: all 0.2s ease-in-out;
}
.primary-btn:hover{
    background: var(--c-darken-pink);
}
.learn-more{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
/* COLOR VARIABLES */
:root{
    --c-black: #000;
    --c-white: #fff;
    --c-blue: #5c84ec;
    --c-pink: #f03c6d;
    --c-darken-pink: #E3003E;
    --c-lighten-pink: #FC1252;
    --c-darken-white: #FAFAFA;
    --c-pharagraph: #707070;
    --c-ash-black: #0c002e;
}
/* SCROLLBAR */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: var(--c-darken-pink);
    border-radius: 20px;
}

/* HEADER SECTION */
.navbar{
    background: rgba(255,255,255,0.9);
}
.navbar .navbar-brand{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--c-black);
}
.navbar-nav .nav-item{
    margin: 0 10px;
}
.navbar-nav .nav-link{
    color: var(--c-ash-black);
    transition: all 0.2s ease-in-out;
}
.navbar-nav .nav-link:hover{
    color: var(--c-darken-pink);
}
nav.stick{
    transition: all 0.5s;
}
.hamburger{
    cursor: pointer;
}
.bar{
    background: var(--c-black);
    border-radius: 5px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* HERO SECTION */
.hero{
    height: 700px;
    width: 100%;
    background: linear-gradient(rgba(28, 39, 70, 0.9), rgba(92,132,238,0.4)),url('../img/hero-img.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.hero-content{
    color: var(--c-white);
}
.hero-important{
    transform: translateY(10%);
}
.hero-important > h1{
    max-width: 130px;
    width: 100%;
    background: rgba(254, 241, 242, 0.5);
    padding: 2px;
    border-radius: 5px;
    color: var(--c-darken-pink);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}
.hero-important > h2{
    font-weight: 700;
    font-size: 3rem;
}
.hero-important > p{
    font-size: 1.2rem;
    color: var(--c-darken-white);
}

/* ABOUT SECTION */
.about-wrap{
    padding: 30px;
}
.about-wrap > h2{
    font-size: 1rem;
    font-weight: 600;
    color: var(--c-darken-pink);
}
.about-wrap > h3{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--c-ask-black);
}
.about-img{
    border-radius: 10px;
    width: 100%;
    height: 500px;
}

/* SERVICE SECTION */
.service-class{
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(165deg,rgba(78, 78, 78, 0.7), rgba(255, 255, 255, 0.4)),url('../img/service.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.service-show{
    text-align: center;
}
.service-class .card{
    box-shadow: rgba(205, 205, 230, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 15px 10px;
    margin-bottom: 30px;
}
.service-class i{
    margin-left: 1rem;
    font-size: 40px;
    background: linear-gradient(var(--c-pink), var(--c-black));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-wrap{
    padding: 30px;
}
.service-wrap > h2{
    width: 100px;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding: 2px 3px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--c-darken-pink);
}
.service-wrap > h3{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--c-white);
}
.service-wrap > p{
    color: var(--c-darken-white);
}
.card-body > h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--c-ash-black);
}

/* TEAM SECTION */
.team-class{
    z-index: 3;
    padding: 100px;
}
.team-class .bg-white{
    background: var(--c-white);
}
.team-content{
    padding: 15px;
}
.team-content > h2{
    font-size: 1rem;
    font-weight: 600;
    color: var(--c-darken-pink);
}
.team-content > h3{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--c-ash-black);
}
.team-img{
    width: 100%;
    height: 500px;
    z-index: 2;
}
.team-class .box{
    position: relative;
    z-index: 1;
}
.team-class .box::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -5%;
    left: -5%;
    z-index: -1;
    background: linear-gradient(135deg, var(--c-blue), var(--c-pink));
}

/* PROJECT SECTION */
.project-class i{
    font-size: 40px;
    background: linear-gradient(var(--c-pink), var(--c-black));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-class .card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 14px;
    margin: 0 0 30px 10px;
}
.project-class .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.project-wrap > h2{
    font-size: 1rem;
    font-weight: 600;
    color: var(--c-darken-pink);
}
.project-wrap > h3{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--c-ash-black);
}

/* CONTACT SECTION */
.contact-class .bg-contact{
    height: 40vh;
    width: 100%;
    background: linear-gradient(rgba(74,118,237,0.7),rgba(74,118,237,0.8)), url(../img/map.png);
    background-position: 200 200;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-content{
    margin-top: -20vh;
}
.contact-class form{
    background: var(--c-white);
    border-top-left-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 100px;
}
.contact-content .form-title > h3{
    color: var(--c-darken-pink);
    font-size: 1.5rem;
    font-weight: 900;
} 
.contact-content .form-title > p{
    color: var(--c-ash-black);
    font-size: 2rem;
    font-weight: 900;
}
.contact-content .form-group{
    margin-bottom: 10px;
}
.contact-class .contact-addr{
    background: linear-gradient(135deg, var(--c-pink), var(--c-darken-pink));
    border-top-right-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 90px;
    color: var(--c-white);
}
.contact-class .contact-addr > h4{
    font-weight: 700;
}
.contact-class .contact-addr p{
    color: var(--c-white);
    margin: 20px 0;
}
.contact-class .social-icon{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    width: 1%;
    cursor: pointer;
}

/* FOOTER */
footer{
    height: 80px;
    padding: 40px;
    text-align: center;
    background: var(--c-ash-black);
}
footer p{
    height: 100%;
    color: var(--c-white);
}

/* MOBILE BREAKPOINT */
@media only screen and (max-width: 667px){
    .primary-btn{
        padding: 8px 22px;
    }
    .hero{
        height: 500px;
    }
    .hero-important > h2{
        font-weight: 700;
        font-size: 1.7rem;
    }
    .hero-important > p{
        font-size: 1rem;
    }
    .service-content{
        margin-bottom: 50px;
    }
    .team-class{
        padding: 0px;
    }
    .team-class .team-content{
        margin-top: 50px;
    }
    .contact-class form{
        padding: 40px;
    }
    .contact-class .contact-addr{
        padding: 40px;
    }
    .contact-class form{
        border-top-right-radius: 10px;
    }
    .contact-class .contact-addr{
        border-top-right-radius: 0;
    }
    footer{
        height: 100%;
        padding: 10px 5px; 
        text-align: center;
        background: var(--c-ash-black);
    }
}

/* MOBILE BREAKPOINT FOR 320px */
@media only screen and (max-width: 320px){
    .learn-more{
        font-size: 0.8rem;
    }
    .hero-important > h1{
        max-width: 120px;
        font-size: 1rem;
    }
    .hero-important > h2{
        font-size: 1.3rem;
    }
    .hero-important > p{
        font-size: 0.9rem;
    }
}